@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");


:root{
    --base:whitesmoke;
    --text:darkslategrey;
    --accent: crimson;
}

html,body{
    color: var(--text);
    background-color: var(--base);
    font-family: 'Nunito', sans-serif;
    font-size: large;
    display: grid;
    height: 100%;
    width: 100%;

	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	overflow: auto;
}

article{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    color: var(--base);
    background-color: var(--accent);
    font-weight: 700;
}

.container{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-gap: 2%;
    justify-items: center;
    align-items:center;
}


button{
    color: var(--light);
    background-color: var(--accent);
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: bold;
    border-color: var(--accent);
    border-radius: 1em;
    padding: 2%;
    margin: 4%;
    cursor: pointer;
    transition: background-color 0.3s;

}
.accountBar{
    color:var(--base);
    background-color: var(--text);
    font-size: large;
    position:relative;
    padding:5% 15%;
    margin-left: auto;
    justify-self: end;
    cursor: pointer;
    text-align: center;
}

.dropdownContent{
    display: none;
    position: absolute;
    margin-top: 10%;
    right:0.1%;
    left:0.1%;
    padding-left: 8%;
    font-size: medium;
    text-align: left;
}

.dropdownContent .material-icons{
    float:right;
}

.dropdownContent button{
    float:right;
}

.accountBar:hover{
    background-color: #1a2125;
    transition: 0.1s;
}

.accountBar:hover .dropdownContent{
    border: 2px solid #1a2125;
    background-color:var(--text);
    display:block;
    text-align: match-parent;
}


.box{
    border-color: var(--text);
    border-style: solid;
    margin: 4%;
}

.box-title{
    color: var(--base);
    background-color: var(--text);
    font-size: larger;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.box-content{
    margin:2%;
}

.price{
    float:right;
}

.qty{
    font-weight: 800;
}

button:hover{
    background-color: firebrick;
    transition: 0.3s;
}

.content{
    display:grid;
    grid-template-columns: 1fr 33% 1fr;
    grid-gap: 2%;
    padding-bottom: 15%;
}


.progress{
    text-transform: none;
    margin: 4% 12% 4% 4%;
    align-self: center;
    grid-column: 2/4;

}

.progress-bar{
    width: 500px;
    height: 3em;
    background-color: darkslategray;
    border-radius: 1.3em;
    color: rgb(255, 255, 255);
    position: relative;
}
.progress-bar::before {
   
    content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: 0.25em;
	top: 0.25em;
    bottom: .25em;
    width: calc(var(--width,0)* 1%);
    min-width: 2rem;
    max-width: calc(100% - 1.5em);
    border-radius: 1.3em;
    padding : 0.5em;
    background-color: crimson;
	

}

.progress-status{
    text-decoration-color: crimson;
    text-align: left;
    font-weight: bold;

}

a{
    color:lightskyblue;
    text-decoration: none;
}

a:hover{
    color:lightcyan;
}

footer{
    color:var(--base);
    background-color: var(--text);
    padding-bottom: 1%;
}

.copyright {
	margin-top: 2.5%; 
	justify-self: left; 
	margin-left: 2%;
}

ul{
    width: 120%;
    list-style: none;
}

li{
    float:left;
    margin-left: 5%;
}
