@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");


:root{
    --base:whitesmoke;
    --text:darkslategrey;
    --accent: crimson;
}

html,body{
    color: var(--text);
    background-color: var(--base);
    font-family: 'Nunito', sans-serif;
    font-size: large;
    display: grid;
    height: 100%;
    width: 100%;
}

article{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    color: var(--base);
    background-color: var(--accent);
    font-weight: 700;
}

.container{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-gap: 2%;
    justify-items: center;
    align-items:center;
}

.center{
    background-image: url('res/HomePage/map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: center;
    line-height: 26px;
    margin-bottom: 10px;
}
    
input{height: 20px;
    flex: 0 0 200px;
    margin-left: 100px;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 36px;
    width: 256px;
    font-size: large;

}

#address-prompt{
    width: 95%;
	padding: 0.5%;
	margin: 0;
	margin-left: 1.7%;
	top: 0;
	font-size: 16px;
    border: solid 0.15em var(--dark);
	border-radius: 0.5em;
}
#grid-left{
    justify-self:start;
    margin-left: 3%;
}

#accountBar{
    color:var(--base);
    background-color: var(--text);
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    justify-self: end;
    cursor: pointer;
}

#accountBar:hover{
    background-color: #1a2125;
    transition: 0.4s;
}

button{
    color: var(--base);
    background-color: var(--accent);
    font-family: 'Nunito', sans-serif;
    font-size: large;
    font-weight: bold;
    border-color: var(--accent);
    border-radius: 1em;
    margin: 4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

button a{
    color: var(--base);
    text-decoration: none;
}

button:hover{
    background-color: firebrick;
    transition: 0.3s;
}

.content{
    display:grid;
    grid-template-columns: 1fr 33% 1fr;

}

a{
    color:lightskyblue;
    text-decoration: none;
}

a:hover{
    color:lightcyan;
}

footer{
    color:var(--base);
    background-color: var(--text);
    padding-bottom: 1%;
}

.copyright {
	margin-top: 2.5%; 
	justify-self: left; 
	margin-left: 2%;
}

ul{
    width: 120%;
    list-style: none;
}

li{
    float:left;
    margin-left: 5%;
}