@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

:root{
    --light:whitesmoke;
    --dark:darkslategrey;
    --accent: crimson;
}

html, body {
    color: var(--dark);
    background-color: var(--light);
    font-family: 'Nunito', sans-serif;
    font-size: large;
    display: grid;
	width: 100%;
	height: 100%;
	
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	overflow: auto;
}

article{
    display: grid;
    grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
}

header{
    color: var(--light);
    background-color: var(--accent);
    font-weight: 700;
}

.logo {
	justify-self:start;
    margin-left: 3%;
}

.accountBar{
    color:var(--light);
    background-color: var(--dark);
    font-size: large;
	padding: 5% 15%;
    justify-self: end;
	cursor: pointer;
}

.container {
	display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-gap: 2%;
    justify-items: center;
    align-items:center;
}

#order-title{
	background-color: var(--dark);
	color: var(--light);
	padding: 3.3%;

}

#tracker-title {
	background-color: var(--dark);
	color: var(--light);
	padding: 5.7%;
	border-right: solid 4px #333333;
}

.res-track {
	background-color: var(--dark);
	color: var(--light);
}

.tracker {
	cursor: pointer;
	margin: 0;
	margin-right: 2%;
	margin-bottom: 2%;
	padding: 4%;
	background-color: var(--accent);
	transition: background-color 0.5s ease;
}

.tracker:hover {
	background-color: firebrick;
}

.content {
	display: grid;
	grid-template-columns: 12% 68% 20%;
	align-content: start;
	overflow: hidden;
}

#exclusion-tags {
	padding: 1%;
	padding-left: 2.5%;
	background-color: var(--dark);
	color: var(--light);
}

input {
	margin-left: 2%;
}

.box {
	align-content: start;
}

.main {
	overflow-y: scroll;
	height: 32.45em;
}


button{
    color: var(--light);
    background-color: var(--accent);
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: bold;
    border-color: var(--accent);
    border-radius: 1em;
    padding: 2%;
    margin: 4%;
	cursor: pointer;
	transition: background-color 0.3s;
    
}

button:hover{
    background-color: firebrick;
}

.collapsible {
	width: 47em;
	text-align: left;
	margin-top: 2%;
	margin-bottom: 0;
	margin-left: 0.5%;
	margin-right: 0;
}

.gallery {
	margin: 1%;
	padding: 0.5% 1% 1% 1%;
	border-radius: 1em;
	transition: background-color 0.5s ease;
	cursor: pointer;
}

.gallery:hover {
	background-color: #e1e1e1;
}

a{
    color:lightskyblue;
	text-decoration: none;
}

a:hover{
    color:lightcyan;
}

.order {
	border-left: solid 5px var(--dark);
}

.receipt {
	margin: 0;
	padding: 5%;
	height: 21.45em;
	overflow: auto;
}

.total {
	margin: 0;
	padding: 5%;	

}

#checkout {
	color: var(--light);
	border-radius: 0.7em;
	margin: 2% 0 2% 1.5%;
	width: 13.5em;
}

.copyright {
	margin-top: 2.5%; 
	justify-self: left; 
	margin-left: 2%;
}

ul{
    width: 120%;
    list-style: none;
	margin: 0;
	margin-top: 2%;
}

li{
    float:left;
	margin: 0;
    margin-left: 5%;
}

footer{
    color:var(--light);
    background-color: var(--dark);
    padding-bottom: 0.5%;
}