@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

:root{
    --base:whitesmoke;
    --text:darkslategrey;
    --accent: crimson;
}

html,body{
    color: var(--text);
    background-color: var(--base);
    font-family: 'Nunito', sans-serif;
    font-size: large;
    display: grid;
    height: 100%;
    width: 100%;
	
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	overflow: hidden;
}

article{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    color: var(--base);
    background-color: var(--accent);
    font-weight: 700;
}

.container{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-gap: 2%;
    justify-items: center;
    align-items:center;
}

.content{
    display:grid;
    grid-template-columns: 1fr 33% 1fr;
}

.user-info{
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 1fr;
}

.user-info input{
    height:40%;
}
    
.box{
    border-color: var(--text);
    border-style: solid;
    margin: 4%;
	
	margin-bottom: 0;
}

.box-title{
    color: var(--base);
    background-color: var(--text);
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.box-content{
    margin:8%;
}

.options{
    display: grid;
    grid-template-columns: 50% 50%;
}

.right{
    grid-column: 3/4;
}

button{
    color: var(--base);
    background-color: var(--accent);
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: bold;
    border-color: var(--accent);
    border-radius: 1em;
    padding: 2%;
    margin: 4%;
    float:right;
}

button a{
    color: var(--base);
    text-decoration: none;
}

button:hover{
    background-color: firebrick;
    transition: 0.3s;
    cursor: pointer;
}

a{
    color:lightskyblue;
    text-decoration: none;
}

a:hover{
    color:lightcyan;
}

.container{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-gap: 2%;
    justify-items: center;
    align-items:center;
}

footer{
    color:var(--base);
    background-color: var(--text);
    padding-bottom: 1%;
}

.copyright {
	margin-top: 2.5%; 
	justify-self: left; 
	margin-left: 2%;
}

ul{
    width: 120%;
    list-style: none;
}

li{
    float:left;
    margin-left: 5%;
}
