:root{
	--bg: #f4f4f4;
	/*--main: #f0a500;*/
	--main: #f39422;
	--accent: #cf7500;
	--text: #1a1c20;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--text);
	background: var(--bg);
	margin: 0;
}

h2, h3, p {
	padding-left: 20px;
}

.main-banner {
	background: var(--main);
	color: var(--text);
	padding: 70px;
	top: 0;
	margin-top: 0;
	margin-bottom: 5px;
	text-align: center;
	font-size: 45px;
}

.nav {
	list-style-type: none;
	background: var(--accent);
	padding: 10px;
	margin: 0;
}

li a {
	text-decoration: none;
	color: var(--text);
	padding: 10px;
	margin: 0;
	transition: background-color 0.5s;

}

li a:hover:not(.active) {
	background-color: var(--main);
}

.active {
	background-color: var(--text);
	color: var(--bg);
}

.nav-item {
	display: inline;
}

img {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
	object-fit: cover;
	border-radius: 5px;
}

img:hover {
	opacity: 0.6;
}

.gallery {
	margin:5px;
	float: left;
}

.desc {
	text-align: center;
	border-radius: 5px;
	background: var(--main);
	padding: 10px;
	margin: 0;

}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}



