:root{
	--base: #ffffff;
	--text: #272343;

	--accent: #41aea9;
	--main: #9ad3bc;
/*
	--accent: #68b0ab;
	--main: #006a71;
*/
/*	--main: #e3f6f5;
	--accent: #bae8e8;
*/
	--paper: #f4f4f4;
	--paper2: #f5f1da;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
}

body {
	background-color: var(--base);
	color: var(--text);
	margin: 0;
	padding: 0;
	top: 0;
}

.top-bar {
	margin: 0;
	width: 100%;
	height: 5%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.name {
	float: left;
	display: inline;
	width: 90%;
	background-color: var(--main);
	margin-top: 0;
	padding-top: 5px;
	padding-left: 10px;
	top: 0;
	height: 5%;
	position: fixed;
	font-size: 25px;
}

.account {
	float:right;
	display: block;
	width: 10%;
	background-color: var(--text);
	color: var(--base);
	margin-top: 0;
	margin-left: 90%;
	top: 0;
	height: 5%;
	position: fixed;
	padding-top: 10px;
	text-align: center;
	transition: background-color 0.3s;
}

.account:hover {
	background-color: #000000;
}

.side-nav {
	margin-top: 40px;
	position: fixed;
	float: left;
	width: 10%;
	height: 100%;
	background-color: var(--main);
	overflow: auto;
	z-index: -1;

}

ul {
	list-style-type: none;
	
}

a li {
	display: block;
	background-color: var(--accent);
	margin-bottom: 5px;
	padding: 15px 0;
	padding-left: 10px;
	color: var(--text);
	transition: background-color 0.3s, color 0.3s;
	font-size: 15px;
}

a li:hover {
	background-color: var(--text);
	color: var(--paper);
}

.food-sect {
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 68px;
	background-color: var(--accent);
}

.main {
	margin-top: 40px;
	margin-left: 10%;
	float: left;
	width: 70%;
	height: 95%;
	position: fixed;
	overflow: auto;
	padding-top: 30px;
	padding-left: 65px;
}

img {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
	object-fit: cover;
	border-radius: 5px;
}


.gallery:hover {
	opacity: 0.6;
}

.gallery {
	margin:5px;
	float: left;
	transition: opacity 0.5s ease;
}

.desc {
	text-align: center;
	border-radius: 5px;
	background: var(--main);
	padding: 10px;
	margin: 0;

}

.item {
	color: var(--text);
}

.receipt {
	margin-top: 40px;
	margin-left: 80%;
	height: 84%;
	position: fixed;
	float: left;
	width: 20%;
	background-color: var(--paper2);
	z-index: -1;
}

.title-order {
	padding: 15px;
	position: fixed;
	top: 40px;
	width: 20%;
	background-color: var(--accent);
}

.details {
	top: 7%;
	width: 20%;
	position: fixed;
	padding: 40px 0;
	height: 81.5%;
	background-color: var(--red);
	margin-top: 20px;
	margin-left: 12px;
}

.total {
	bottom: 82px;
	right: 0;
	width: 20%;
	position: fixed;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.checkout {
	bottom: 0;
	right: 0;
	width: 20%;
	position: fixed;
	padding: 25px 0;
	background-color: var(--accent);
	color: var(--text);
	font-size: 25px;
	text-align: center;
	transition: background-color 0.2s, color 0.2s;
}

.checkout:hover {
	background-color: var(--text);
	color: var(--paper);

	
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
	margin-bottom: 30px;
}